# make allnoconfig ARCH=sh KCONFIG_ALLCONFIG=mini.config
CONFIG_NO_HZ=y
CONFIG_SYSVIPC=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_MAGIC_SYSRQ=y

CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_LOOP=y

CONFIG_NET=y
CONFIG_UNIX=y

CONFIG_HW_RANDOM=y

CONFIG_RTC_CLASS=y
CONFIG_RTC_HCTOSYS=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_RTC_INTF_DEV=y

CONFIG_MISC_FILESYSTEMS=y
CONFIG_DEVTMPFS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y

CONFIG_0PF_FPGA=y
CONFIG_CPU_BIG_ENDIAN=y
CONFIG_CPU_SUBTYPE_0PF=y
CONFIG_CACHE_OFF=y

CONFIG_HZ_100=y
CONFIG_MEMORY_SIZE=0x4000000
CONFIG_MEMORY_START=0x10000000
CONFIG_SH_PCLK_FREQ=32000000

CONFIG_BINFMT_ELF_FDPIC=y
CONFIG_BINFMT_FLAT=y

CONFIG_DEVMEM=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FLATMEM_MANUAL=y

CONFIG_CMDLINE_EXTEND=y
CONFIG_CMDLINE="console=ttyUL0,19200n8 noiotrap"

CONFIG_SERIAL_UARTLITE=y
CONFIG_SERIAL_UARTLITE_0PF=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y

CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_UTF8=y

CONFIG_INITRAMFS_SOURCE="../initramfs_data.cpio.gz"

